body, html {
    height: 100%;
}

#parallax {
    background: url("/images/science.jpg") no-repeat center / contain;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

@media only screen and (max-device-width: 1366px) {
    #parallax {
      background-attachment: scroll;
    }
  }